

/* tunaespana (de aquí hacia abajo) */
body {
  height: auto;
  font-family: "Times New Roman", Times, Arial, serif;
  font-size: 20px;
  color: white;
  background-color: black;
}

#nav1{
    display:block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px solid #8888bb;
    border-radius: 0pt;
    background: rgb(0,100,0);
    text-align: center;
}

#celdanav0, #celdanav1, #celdanav2, #celdanav3, #celdanav4 {
  	margin: 0px 0px 0px 0px ;
  	padding: 0px 0px 0px 8px;
  	text-align: center;
  	text-decoration: none;
  	color:white;
    border-right: 1px solid black;
  	font-size: 1.7rem;
  	font-family: Arial;
    cursor: pointer;

  }
  .subnav0, .subnav1, .subnav2, .subnav3, .subnav4{
    display:block;
    position:absolute;
    font-size: 90%;
    width:100%;
    margin: 0px;
    padding: 0px;
    border: 0px solid black;
    background: white;
    opacity:1;
    color:black;
    display:none;
    z-index: 9;
    /* Este z-index es necesario pues de lo contrario al desplazar el ratón hacia abajo, éste entra en la zona del video del Rey y se produce el evento onmouseenter en el id="main"  */
    }
  .celdasubnav {
  display: block;
  max-width: 100%;
  margin:0px;
  padding: 5px 0px 5px 10px;
  border: 0px solid #ffffff;
  border-radius: 0;
  color: black;
  text-align: left;
  text-decoration: none;
  text-align: center;
  font-family: Arial;
  }
  .celdasubnav:hover{
  background-color: rgb(210, 220, 220);

  }

.celdaindice {
  display:block; <!-- Necesario para que cada item ocupe toda la anchura-->
  flex: 1 1 auto;
  order: 1;
  	margin: 0px;
    padding: 8px;

    color:black;
    font-size:80%;
    font-family: Verdana, serif;
    font-style: italic;
    font-weight: bold;
text-align: center;
  }
.celdaindice:hover{
  color:blue;

  }
footer {
  display: block;
  margin: 4px;
  padding: 5px;
  border: 1px solid #eebb55;
  border-radius: 7pt;
  background: #ffeebb;
	color:black;
  text-align: center;
	text-decoration: underline;
	border-radius: 7px;
}

.bloqIzq {
  display: block;
  float: left;
  border: 20px solid black;
}

.bloqCentro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 20px solid black;
}

.bloqDer {
  display: block;
  border: 20px solid black;
  float: right;
}

.bloq100 {
  display: block;
  width: 100%;
  height: auto;
}

.bloq80 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
}

.bloq70 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}

.bloq50 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}


.flotante50 {
  margin: 0px;
  padding: 0;
  flex: 1 1 50%;
  order: 1;
  color: white;
}

.flotante25D {
  margin: 0px;
  padding: 0;
  flex: 1 1 25%;
  order: 1;
  color: white;
  width: 100%;
  background: yellow;
  object-fit: fill;
  text-align: right;
}

.flotante25I {
  margin: 0px;
  padding: 0;
  flex: 1 1 25%;
  order: 1;
  color: white;
  width: 100%;
  background: yellow;
  object-fit: fill;
  text-align: left;
}

video {
  width: 100%;
  max-width: 100%;
}
img {
margin: 0;
padding: 0;
object-fit: fill;
}
hr{
  height:2px;
  width: 90%;
  background-color:#000000;
  border:none;
}

@media (min-width: 1200px) {
  .item {
    font-size: 100%;
  }
}
