
body {
width:100%;
height:auto;
margin:0px;
padding: 5px;
font-family: "Times New Roman", Times, Arial, serif;
color: white;
background-color: black;
font-size:50px; /* tamaño por defecto es 16px*/
}
.article {
width:100%;
height:auto;
margin:2px;
padding: 5px;
font-family: "Times New Roman", Times, Arial, serif;
color: white;
background-color: black;
font-size:50px; /* tamaño por defecto es 16px*/
-webkit-order: 2;
        order: 2;
}



#main, #page {
 -webkit-flex-flow: column;
         flex-flow: column;
}

nav {
 -webkit-min-height: 50px;
 -webkit-max-height: 50px;
 min-height: 50px;
 max-height: 50px;
 order:1;

}
aside {
 -webkit-min-height: 50px;
 -webkit-max-height: 50px;
 min-height: 50px;
 max-height: 50px;
 order:3;

}
header, footer {
 -webkit-min-height: 50px;
 -webkit-max-height: 50px;
 min-height: 50px;
 max-height: 50px;

}

  /*.exampleText {
    margin:0;
    padding:0;
    writing-mode: vertical-rl;
    background-color: yellow;
    inline-size: 210px;
    font-size:2em;
  }

ul.navbar {
  list-style-type: none;
  margin: 1em;
  padding:0em;
  position: fixed;
  top: 0em;
  left: 0em;
  width: 12em;
  z-index:1
}

h1{display: flow-root;
  background:rgb(166, 165, 139) ;
  color:#00F;
  font-size:20px;
  font-style: oblique;
  font-family:"Times New Roman", Times, serif;
  text-align:center;
  text-decoration:underline;
  text-transform:uppercase;
  line-height:5em;}
P{font-size: 2em;}
.floatstop{clear:both;}
ul.navbar li {
  background: white;
  margin: 1em 1em;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: underline;; }
a:link {
  color: blue }
a:visited {
  color: purple }
#experiencia{font-size:200%; }
.destacado{color:blue;}
strong{font-weight:	normal;}
address {
  font-size: 3em;
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted; }
  */
  /* block significa que tomará espacio en la pagina y que puede tener otros valores de espacio aplicables como margen*/
/*img.fondo1 {
  position: absolute;
  width: 100px;
  top:400;
  left:100;
  margin: 15em 0em 0em 0em ;
  z-index:2;   }
img.fondo2{
position:sticky;
width: 200px;
top:80;
left:250;
padding: 0em;
}
*/
