.cajafila {
display: flex;
flex-flow: row;
flex-wrap: wrap;
/*Alineación horizontal  */
justify-content: space-around;
/*Alineación vertical  */
align-items: center;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 0px;
  max-width: 100%;
  border: 0px solid #8888bb;
  border-radius: 0pt;
  background-color: black;
/*background-color: black; Si ponemos fondo no se ve el borde de la caja ni el fondo de las celdas*/
}


  .celdabotonesfila {
  flex: 1 1 auto;
  order: 1;
  	height: 70px;
  	max-height: 70px;
  	margin: 4px;
    padding: 0;
    border: 3px solid #ffffff;
  	border-radius: 3pt;
    color: white;
  }
  .cajacolumna {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  /*Alineación horizontal  */
  justify-content: space-between;
  /*Alineación vertical  */
  align-items: center;
  margin-bottom: 5;
  padding: 0px;

  }
  .celdabotonescolumna {
  flex: 1 1 auto;
  order: 1;
    max-width: 200px;
    margin: 2px;
    padding: 0;
    border: 3px solid #ffffff;
    border-radius: 3pt;
    color: white;
    text-align: center;
  }

  .celdavideo {
  flex: 1 1 auto;
  order: 1;
    margin: 4px;
    padding: 0;
    background-color: rgb(27, 27, 27);
    align-items: baseline;
  max-height: 500px;
  }

#celdanav0, #celdanav1, #celdanav2, #celdanav3, #celdanav4 {
  	display:Block;
    with:100%;
}
.celdasubnav {
max-width: 100%;
}
.indice{
  display:block;
 min-width: 100px;
 margin: 2px;
 padding: 5px;
 border-radius: 7pt;
background-color: rgb(180, 200, 255);

 }
.article {
width:100%;
height:auto;
margin:2px;
padding: 5px;
font-family: "Times New Roman", Times, Arial, serif;
color: white;
background-color: black;
/* ize:50px;  tamaño por defecto es 16px*/
-webkit-order: 2;
        order: 2;
}


aside {
margin: 2px;
padding: 5px;
border: 0px solid #8888bb;
border-radius: 7pt;
background: rgb(219, 193, 100);
color:black;
 order:3;
}
